@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

.menu__list {
    @include list-reset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    $gap: $gutter;
}

.menu__toggle {
    display: none;
    height: rem(48);
    width:rem(48);
    padding: 0;
}