@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

.menu__list {
    @include list-reset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    $gap: $gutter;
}