$font-base: 'Epilogue', sans-serif;

$color-primary: #EF6058;

$bg-light:#FDF0E9;
$bg-datk:#28293E;

$color-text-light:#ffffff;
$color-text-light-gray: #B2B2BA;
$color-text-dark:#391400;
$color-text-dark-gray:#806354;
